@import 'variable';




 .btn{
  display:inline-block;
  padding:0.5rem 1rem;
  color:$white;
  margin:0.4rem 0;
  background: $blue-light;
  border-radius:0.4rem;
  border: none;

  &:hover{
     background:$blue-dark;
    
 }
     
}

.field{
 padding: 0.8rem 1.1rem;
 margin: 0.5rem 0;
 display: block;
 border: 1px solid #ccc;
 border-radius: 4px;
       &:focus{
         outline: 1px solid $blue-dark;
    
         }
}

.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  display: inline-block;
  padding: 2rem;
  margin: 1rem;
  background: $sky;
  border-radius:0.4rem;
   
}