@import 'variable';


.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="submit"]{
  display:inline-block;
  padding:0.8rem 1rem;
  color:$white;
  margin:0.4rem 0;
  background: $blue-light;
  border-radius:0.4rem;
  border: none;

  &:hover{
     background:$blue-dark;
    
 }
     
}

.field{
 padding: 0.8rem 1.1rem;
 margin: 0.5rem 0;
 display: block;
 border: 1px solid #ccc;
 border-radius: 4px;
       &:focus{
         outline: 1px solid $blue-dark;
    
         }
}

.login-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  display: inline-block;
  padding: 5rem;
  margin: 2rem;
  background: $sky;
  border-radius:0.4rem;
   
}

h2{
  text-align: center;
}