@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

 $blue-dark:#1e404d;
 $blue-light:#007AA5;
 $white:white;
 $sky:#C4D8E2;

 *{
    box-sizing: border-box;
    //outline: 1px solid red;
    margin: 0;
    padding: 0;
  }
  